/*
font-family: 'Grandstander', cursive;
font-family: 'Lustria', serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Sarabun', sans-serif;
*/

.nav-color {
  background-color: #4a4a4a;
}

.navbar {
  font-family: 'Grandstander', cursive;
}

.horse-meet {
  color: white !important;
  font-size: 1.75rem !important;
}

.info {
  margin-top: 20px;
}

.col-md-12 {
  margin-left: 0;
  margin-right: 0;
}

.col-sm-12 {
  margin-left: 0;
  margin-right: 0;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}



.parent {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(#969591, #D8D8D8);
}

.child {
  display: block;
  align-items: center;
  text-align: left;
  background-image: linear-gradient(#D8D8D8, #969591);
  min-height: 20vh;
}

.center-text {
  max-width: 40%;
  max-height: auto;
  margin: 0 auto;
  text-align: left;
}

.profilePicture {
  width: 40%;
  max-height: auto;
  overflow: hidden;
  padding-top: 15px;
}

.images {
  position: relative;
  text-align: center;
}

.name {
  font-family: 'Lustria', serif;
  font-size: 2.5rem;
}

.distance {
  position: absolute;
  bottom: 1.5rem;
  left: 10px;
  font-family: 'Sarabun', sans-serif;
}

.thumbsUp {
  position: absolute;
  left: 10px;
  bottom: 0.25rem;
  font-size: 30px;
  color: rgb(255, 200, 0)
}

.star {
  position: absolute;
  text-align: center;
  bottom: 0.25rem;
  font-size: 30px;
  color: blue;
}

.thumbsDown {
  position: absolute;
  right: 10px;
  bottom: 0.25rem;
  font-size: 30px;
  color: red;
}

.info {
  width: 500px;
}

.headings {
  font-family: 'Permanent Marker', cursive;
  color: #4f4f63;
}

.description {
  font-family: 'Sarabun', sans-serif;
  font-weight: 500;
}

#footer {
  text-align: center;
  font-size: 0.6rem;
  color: black;
  padding: 40px 0 30px;
  background-image: linear-gradient(#969591, #D8D8D8);
}
